.header__nav-item a:hover {
  opacity: 1;
}

.header__button:hover {
  background-color: var(--color-orange);
  color: #fff;
}

.hero__button:hover {
  background-color: #fff;
  color: var(--color-orange);
}

.intro__button:hover {
  background-color: #fff;
  color: var(--color-orange);
}

@keyframes floating {
  0% {
    transform: translateY(20px);
  }

  50% {
    transform: translateY(0px);
    transform: translateX(20px);
  }

  100% {
    transform: translateY(20px);
  }
}
