.content__form {
  max-width: 20em;
}

.form__create-button {
  background-color: royalblue;
  margin-bottom: 4rem;
  margin-top: 0.5rem;
}

.form__find-button {
  padding: 0.6rem 0;
  background-color: royalblue;
}

.form__find-button-cancel {
  padding: 0.6rem 0;
  background-color: tomato;
}

.error {
  color: red;
  font-weight: bold;
}
