body {
  font-family: var(--inter);
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}

fieldset {
  border: none;
}

label,
input {
  display: block;
  font-size: 24px;
  font-weight: 600;
}

label {
  padding-bottom: 0.5rem;
}

input {
  border: 2px solid rgba(26, 106, 138, 0.4);
  border-radius: 3px;
  font-weight: 400;
}

legend {
  font-size: 36px;
  font-weight: bold;
}

button {
  font-weight: 500;
  width: 8em;
  font-size: var(--font-size-md);
  padding: 0.75rem 0;
  border: none;
  border-radius: 0.25rem;
  color:white;
}

li {
  display: block;
}
