.hero {
  overflow: hidden;
  margin-bottom: 175px;
}

.hero__title {
  font-weight: bold;
  font-size: 4rem;
  line-height: 5rem;
  font-family: var(--playfair-display);
  color: var(--color-dark-blue);
}

.hero__paragraph {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.685rem;
  font-family: var(--inter);
}

.hero__line {
  border-radius: 4px;
  margin: 21px 0px 48px 0px;
  width: 2em;
  height: 2px;
  background-color: var(--color-dark-blue);
}

.hero__explore {
  box-sizing: border-box;
  width: 50%;
}

.hero__illustration {
  position: absolute;
  top: 15%;
  right: 105px;
  z-index: -1;
}

.hero__explore-select {
  font-family: var(--inter);
  padding-left: 31px;
  padding-right: 31px;
  width: 220px;
  height: 52px;
  margin: 15px 15px 15px 0;
  border: 0.8px solid var(--color-grey);
  border-radius: 6px;
  color: var(--color-dark-gray);
  background-color: #fff;
}

.hero__button {
  font-family: var(--inter);
  font-size: var(--font-size-md);
  font-weight: bold;
  margin-top: 35px;
  width: 180px;
  height: 52px;
  background-color: var(--color-orange);
  color: #fff;
  border: 1px solid var(--color-orange);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

@media screen and (min-width: 2560px) {
  .hero__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hero__explore-select {
    box-sizing: border-box;
    width: 45%;
  }
  .hero__illustration {
    position: relative;
    display: flex;
    right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .hero__illustration {
    top: 20%;
    right: 0px;
  }

  .hero {
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    margin-bottom: 1rem;
  }

  .hero__explore {
    margin: 0 auto;
    box-sizing: border-box;
    width: 75%;
  }

  .hero__line {
    display: none;
  }

  .hero__button {
    margin-top: 14px;
  }

  .hero__illustration {
    position: inherit;
    margin-top: 20px;
  }
}

@media screen and (max-width: 320px) {
  .hero__title {
    margin-top: 1.1em;
    margin-bottom: 0.5em;
  }

  .hero__paragraph {
    margin-top: 5px;
  }

  .hero__illustration {
    display: none;
  }
}
