@import "../../typography/colors.scss";

.item_list {
  margin-bottom: 1rem;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__title {
  border-radius: 100px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: $grey;
  width: 500px;

  display: flex;
  justify-content: space-between;
}

.input {
  font-size: 1.5rem;
  width: 100%;
  color: white;
  padding: 0.5rem 1rem;
  background-color: $grey;
  outline: none;
  border: 1px solid $grey;
  border-radius: 100px 0 0 100px;
  transition: 0.3s ease-in-out;
}

.search_title {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: $grey;
  color: white;
  border: 1px solid $grey;
  border-left: 2px solid $dark-grey;
  border-radius: 0 100px 100px 0;
  outline: none;
  transition: 0.3s ease-in;
}

.filter__price {
  width: 850px;
  display: flex;
  justify-content: space-between;
}

.search_price {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: $grey;
  color: white;
  border: 2px solid $grey;
  border-radius: 100px 100px 100px 100px;
  outline: none;
  transition: 0.3s ease-in;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
// slider
.slider[type="range"] {
  -webkit-appearance: none;
}

.slider[type="range"]::-webkit-slider-runnable-track {
  height: 0.75em;
  background: $grey;
  border: none;
  border-radius: 3px;
}

.slider[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  color: $grey;
  border: solid $grey;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background: $dark-grey;
  margin-top: -0.65em;
}

.slider__price {
  display: flex;
  align-items: center;

  font-size: 1.25rem;
}

// animations

.search_title:focus,
.search_title:hover {
  border-color: $sky;
}

.filter__price:focus,
.filter__price:hover {
  border-color: $sky;
}

.search_price:active,
.search_title:active {
  transition: none;
  background-color: $sky;
}

.input:focus {
  border: 1px solid $sky;
}

.slider:hover,
.slider:focus {
  opacity: 1;
}
