@import "../../typography/colors.scss";

.item {
  background-color: $grey;
  padding: 1rem 1rem 0 1rem;
  border: 2px solid $grey;
  border-radius: 0.5rem;
  transition: 0.3s ease-in;
  max-width: 300px;
  max-height: 440px;
}

.image {
  max-width: 300px;
  max-height: 300px;
}

.title {
  display: inline-block;
  font-size: 1.75em;
  transition: 0.3s ease-in;
  border-bottom: solid $grey;
  margin-bottom: 0;
  margin-top: 1rem;
}

.price {
  margin-bottom: 1rem;
}

.view_more {
  float: right;
  margin-bottom: 1.25rem;
}

// animations

.item:hover,
.item:focus {
  box-shadow: 0 1.25rem 0.5rem -1rem $sea;
}

.item:hover .item_title {
  border-bottom: solid $sky;
}

