@import "../../typography/colors.scss";

.item_list {
  margin-bottom: 1rem;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__title {
  border-radius: 100px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: $grey;
  width: 500px;

  display: flex;
  justify-content: space-between;
}

.input {
  font-size: 1.5rem;
  width: 100%;
  color: white;
  padding: 0.5rem 1rem;
  background-color: $grey;
  outline: none;
  border: 1px solid $grey;
  border-radius: 100px;
  transition: 0.3s ease-in-out;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}
// slider
.slider[type="range"] {
  -webkit-appearance: none;
}

.slider[type="range"]::-webkit-slider-runnable-track {
  height: 0.75em;
  background: $grey;
  border: none;
  border-radius: 3px;
}

.slider[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  color: $grey;
  border: solid $grey;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background: $dark-grey;
  margin-top: -0.65em;
}

.slider__price {
  display: flex;
  align-items: center;

  font-size: 1.25rem;
}

.button__container {
  display: flex;
  justify-content: center;

  margin-top: 2rem;
}

.view_more_button {
  display: flex;
  justify-content: center;
  background: none;
  border: 2px solid;
  font-size: 1.5rem;
  line-height: 1;
  padding: 0.25em 0.5em;
}

// animations

.search_title:focus,
.search_title:hover {
  border-color: $sky;
}

.filter__price:focus,
.filter__price:hover {
  border-color: $sky;
}

.search_price:active,
.search_title:active {
  transition: none;
  background-color: $sky;
}

.input:focus {
  border: 1px solid $sky;
}

.slider:hover,
.slider:focus {
  opacity: 1;
}

.view_more_button {
  color: $sea;
  transition: 0.8s;

  &:hover,
  &:focus {
    color: #fff;
    border-radius: 100px;
  }
}

.view_more_button:hover,
.view_more_button:focus {
  box-shadow: 0 -0.2em 0.5em 0.1em $sea;
  border-color: $sea;
  transform: translateY(0.25em);
}
