@import "../../typography/colors.scss";

.content {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.heading {
  font-size: 2em;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.view_more {
  text-align: center;
  margin-top: 1rem;
}

.view_more_button {
  background: none;
  border: 2px solid;
  font-size: 1.5rem;
  line-height: 1;
  padding: 0.25em 0.5em;
}

// animation
.view_more_button {
  color: $sea;
  transition: 0.8s;

  &:hover,
  &:focus {
    color: #fff;
    border-radius: 100px;
  }
}

.view_more_button:hover,
.view_more_button:focus {
  box-shadow: 0 -0.2em 0.5em 0.1em $sea;
  border-color: $sea;
  transform: translateY(0.25em);
}
