:root {
  --playfair-display: "Playfair Display", serif;
  --inter: "Inter", sans-serif;
  --mulish: "Mulish", sans-serif;

  --font-size-md: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-xs: 0.75rem;
}
