@import "../../typography/colors.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid $grey;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav > :not(:last-child) {
  margin-right: 4rem;
}