@import "../../typography/colors.scss";

.filter {
  border-radius: 100px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: $grey;
  width: 500px;

  display: flex;
  justify-content: space-between;
}

.textInput {
  width: 100%;
  color: white;
  padding: 0.5rem 1rem;
  background-color: $grey;
  outline: none;
  border: 1px solid $grey;
  border-radius: 100px 0 0 100px;
  transition: 0.3s ease-in-out;
}

.searchButton {
  padding: 0.5rem 1rem;
  background-color: $grey;
  color: white;
  border: 1px solid $grey;
  border-left: 2px solid $dark-grey;
  border-radius: 0 100px 100px 0;
  outline: none;
  transition: 0.3s ease-in;
}

.slider {
    outline: none;
    opacity: 0.7; 
}

// animations

.searchButton:focus,
.searchButton:hover {
  border-color: $sky;
}

.textInput:focus {
  border: 1px solid $sky;
}

.slider:hover,
.slider:focus {
    opacity: 1;
}
