.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.media img:not(:nth-child(3)){
    margin-right: 0.4rem;
}
